.BotaoReset {
    margin: 20px 0px;
}

.BotaoReset button {
    height: 60px;
    width: 120px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    background-color: hsl(185, 42%, 37%);
    color: white;
}

.BotaoReset button:hover {
    background-color: hsl(185, 58%, 25%);
    color: white;
    transition: 0.3s;
}