.botaoNumero {
    margin: 20px 0px;
}

.botaoNumero button {
    height: 60px;
    width: 120px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.botaoNumero button:hover {
    background-color: hsl(225, 21%, 49%);
    color: white;
    transition: 0.3s;
}